# ---------- Python ----------
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# ---------- Database ----------
*.db
*.sqlite
*.sqlite3

# ---------- Node / Frontend ----------
frontend/node_modules/
npm-debug.log*
yarn-error.log*

# ---------- OS ----------
.DS_Store
Thumbs.db
